{% extends 'layout.html' %}

{% block head %}
    <title>房间预定-Neko酒店</title>
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>房间预定</h3>
            </div>
            <div class="card-body">
                <form method="get">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                            排序
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">价格</a>
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#">链接 3</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
