{% extends "layout.html" %}

{% block head %}
    <title>住客信息-Neko酒店</title>
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="container main-body">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">住客管理</h3>
            </div>
            <div class="card-body">
                <div>
                    <div class="row justify-content-around">
                        <a class="btn btn-success col-lg-1" href="{% url 'customer_add' %}">添加</a>
                        {#                        <div class="col-lg-2">{{ search_data }}</div>#}
                        <div class="col-lg-5">
                            <form method="get">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                                    <input type="text" class="form-control" style="width: 10rem" name="q"
                                           placeholder="请输入待搜索字段" value="{{ search_data }}">
                                    <select class="form-select" style="width: 5rem" name="m">
                                        <option value="sn">姓名</option>
                                        <option value="si" {% if search_method == "si" %}selected{% endif %}>身份证号
                                        </option>
                                        <option value="sc" {% if search_method == "sc" %}selected{% endif %}>
                                            ***创建人***
                                        </option>
                                        <option value="sp" {% if search_method == "sp" %}selected{% endif %}>电话号码
                                        </option>
                                        <option value="se" {% if search_method == "se" %}selected{% endif %}>邮箱
                                        </option>
                                    </select>
                                    <button type="submit" class="btn btn-outline-primary">查询</button>
                                    {% if search_data %}
                                        <a class="btn btn-outline-danger" href="{% url 'customer_list' %}">取消搜索</a>
                                    {% endif %}
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped" style="margin-top: 20px;">
                            <thead>
                            <tr class="table-primary">
                                <th>id</th>
                                <th>姓名</th>
                                <th>身份证号</th>
                                <th>创建人</th>
                                <th>电话号码</th>
                                <th>邮箱</th>
                                {#                            <th>状态</th>#}
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in customer_data %}
                                <tr>
                                    <td>{{ obj.id }}</td>
                                    <td>{{ obj.customer_name }}</td>
                                    <td>{{ obj.customer_idNumber }}</td>
                                    <td>
                                        <a href="{% url 'account_list' %}?q={{ obj.customer_creator.id }}&m=si">{{ obj.customer_creator.account_user }}</a>
                                    </td>
                                    <td>{{ obj.customer_phone }}</td>
                                    <td>{{ obj.customer_email }}</td>
                                    {#                                <td>{{ obj.get_customer_status_display }}</td>#}
                                    <td>
                                        <a class="btn btn-primary btn-sm"
                                           href="{% url 'customer_edit' obj.id %}">编辑</a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'customer_del' obj.id %}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}